@import "@unocss/reset/tailwind.css";
@unocss all;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  max-width: 100vw;
}

.text-shadow {
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
